<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexEndpoint"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12016/CustomerService" binding="wsDualHttpBinding" bindingConfiguration="duplexEndpoint" contract="ServiceReference1.ICustomerService" name="duplexEndpoint">
                <identity>
                    <userPrincipalName value="SONY-VAIO\SONY"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
